/* Estilos comunes para el componente Home */

.home-container {
  padding: 20px;
}

.carousel-item {
  position: relative;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: 4px solid rgba(80, 79, 79, 0.5);
  box-sizing: border-box;
  animation: rotate-border 3s linear infinite;
  pointer-events: none;
}

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-container {
  text-align: center;
}

.card-image {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.img {
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-caption {
  padding: 10px;
}

.no-image {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #e0e0e0;
  color: #757575;
  font-size: 1.2rem;
  margin-top: 10px;
}

.title.is-4,
.title.is-5 {
  margin: 0;
  font-weight: bold;
}

.box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.is-light .carousel-caption {
  color: #000000;
}

.is-light .home-container {
  background-color: #f5f5f5;
  color: #000000;
}

.is-light .weather-section {
  border: 1px solid #ddd;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 30px;
}
.is-light .weather-container {
  color: #000000;
}

.is-light .title.is-4 {
  border-radius: 30px;
}
.is-light .subtitle.is-6 {
  color: #000;
}

.is-light .carousel-item {
  background: #96c5ac;
  background: radial-gradient(at center, #96c5ac, #777dce);
}
.is-light .carousel-container {
  background: #96c5ac;
  background: radial-gradient(at center, #96c5ac, #777dce);
  border-radius: 30px;
}

.is-dark .home-container {
  background-color: #333333;
  color: #ffffff;
}

.is-dark .weather-section {
  background-color: #444444;
  border: 1px solid #555555;
}

.is-dark .carousel-container {
  background-color: #333333;
}

.is-dark .carousel-item {
  background-color: #333333;
  border: 3px solid #555555;
}
.is-dark .carousel-caption {
  color: #ffffff;
}

.is-dark .weather-icon {
  filter: brightness(0) invert(1);
}
